*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
    align-items: center;
    justify-items: center;
}

.mainhome{
    background-color: rgb(214, 235, 253);
    padding-top: 20px;
    padding-bottom: 30px;
}

.mainhome .name-com{
    font-size: 25px;
    color: #212121;
    text-shadow: 8px black;
    font-family: georgia;
    font-weight: bold;
    
}

.mainhome .getstart{
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:white;
    border-radius: 5px;
    margin-bottom: 30px;
    align-items: center;
    transition: 0.8s ease-in-out;
}

.getstart a{
    text-decoration: none;
    margin-top: 30px;
    color: black;
    font-weight: bold;
    align-items: center;
    transition: 0.8s ease-in-out;
}


.mainhome .getstart:hover{
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:blue;
    border-radius: 5px;
    margin-bottom: 30px;
    align-items: center;
}

.getstart a:hover{
    text-decoration: none;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    align-items: center;
}