/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    max-height: 100%;
    background:  #ffffff;
}
a {
  text-decoration: none;
}
/*side menu browser css */
/*dextop responsive side menu css start*/
@media(max-width: 800px)
{
  nav{
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: aliceblue;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0.1px rgb(0, 0,0,0);
  }
  
  nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
  }
  .logo .menu-icon{
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
  }
  
  .logo .logo-name {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
  }
  .logo-name-nav{
    color: #00e4f3;
    font-size: 22px;
    font-weight: 500;
    pointer-events: auto;
  }
  
  nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 400px;
    width: 90%;
    padding: 20px 0;
    background-color:rgb(230, 230, 230);
    transition: all 0.8s ease-in-out;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 100px;
  }
  
  nav.open .sidebar{
  left: 2%;
  
  }
  
  .sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
  }
  
  .background{
    margin-left: 50px;
    margin-right: 50px;
  }
  
  div .title{
   display: flex;
   padding: 10px;
   margin-top: 5px;
   margin-left: 5%;
  
  }
  
  div .title div .backing{
    width: 300%;
    height: 50px;
    background-color: #00e4f3;
  
  }
  
  div .title h2{
    font-family: monospace;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: #012970;
  
  }
  
  div .title h2 .alink:hover{
    color: #00e4f3;
    transition: 0.01s ease-in;
  }
  
  .alink{
    text-decoration: none;
    color: #012970;
    text-shadow: 0cqi;
  }
  nav .sidebar .mainclzz{
    margin-top: -5px;
  }
}
/*mobile v responsive side menu css end*/

/*dextop responsive side menu css start*/
@media (min-width: 800px)
{
  nav{
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: aliceblue;
    left: 0;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0.1px rgb(0, 0,0,0);
}
nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
  }
  .logo .menu-icon{
    color: rgb(0, 0, 0);
    font-size: 24px;
    visibility:collapse;
    margin-right: 14px;
    cursor: pointer;
  }  
  .logo .logo-name {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
  }
  .logo-name-nav{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
  }
  nav .sidebar {
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    background-color:aliceblue;
    align-items: center;
    justify-items: center;
    margin-top: 5px;
    margin-bottom: 100px;
  }
  div .title{
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-left: 5%;
   }
   div .title div .backing{
     width: 300%;
     height: 50px;
     background-color: #00e4f3;
   }
   div .title h2{
     font-family: monospace;
     font-size: 20px;
     font-weight: 500;
     cursor: pointer;
     color: #012970;
   }
   div .title h2 .alink:hover{
     color: #00e4f3;
     transition: 0.01s ease-in;
   }
   .alink{
     text-decoration: none;
     color: #012970;
     text-shadow: 0cqi;
   } 
   div .bottomtit{
     display: flex;
     align-items: center;
     text-align: center;
     margin-left: 45%;
     color: #b6b6b6;
     font-size: 10px;
     cursor: pointer;
     font-family: monospace;
   }
   div .bottomtit:hover{
     color: rgb(99, 99, 99);
   }
  nav .sidebar .mainclzz{
   right: 0%;
   margin-right: 10%;
   position: absolute;
   display: flex;
   flex-direction: row;
   }
}
/*dextop responsive side menu css end*/



/*-------------------------side menu browse-------------------------r*/


@media(max-width: 800px)
{
  .mainimg{
    margin-top: 9%;
    background-color: aliceblue;
    align-items: center;
    z-index: inherit;
    padding-bottom: 20px;
  }
  }

@media(min-width: 800px)
{
  .mainimg{
    background-color: aliceblue;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 3%;
  }
}

.mainimg h3{
  margin-top: -10px;
  font-family: georgia;
  color:#012970;
  cursor: pointer;
  font-size: 25px;
}
@media (min-width: 800px) 
{
.mainimg h3 {
    font-size: 40px;
}
}

@media (max-width: 800px)
{
  .mainimg h3{
    font-size: 20px;
  }
}

.introduct{
  position: static;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

@media (max-width: 800px)
{
  .introduct , .introduct img{
    display: list-item;
    margin: 20px;
    align-items: center;
    justify-items: center;
    width: 70%;
    height: 70%;
  }

  .introduct h4{
    text-align: justify;
    font-weight: 500;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    background-color:aliceblue;
    font-family: arial;
 margin-top: 20px;
  }

}

@media (min-width: 800px)
{
.introduct img{
  border-radius: 10px;
  margin: 20px;
  box-shadow: 2px black;
 width: 40%;
 height: 40%;
}

.introduct h4{
    display: block;
    font-weight: 500;
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
  text-align: justify;
    margin-block-start: 1em;
    margin-block-end: 1em;
    background-color:aliceblue;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
}

.introduct h4 b{
  margin-top: -10px;
  font-family: "Nunito", sans-serif;
  margin-bottom: 10px;
  color: #012970;
  cursor: pointer;
  font-size: 18px;
}

a{
 text-decoration: none;  
}

.introduct b a{
  background-color: aqua;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.infoname{
  font-size: 25px;
  font-family:  "Nunito", sans-serif;
  align-items: center;
  justify-items: center;
  color: #012970;
}

@media (max-width: 800px)
{
.infoname , .infoname img{
  display: list-item;
  margin: 20px;
  align-items: center;
  justify-items: center;
  width: 70%;
  height: 70%;
}
  
}

.infoname h3{
  margin-bottom: 15px;
}
@media (min-width: 800px)
 {

.infoname  .infoname img{
  border-radius: 10px;
  margin: 20px;
  box-shadow: 2px black;
 width: 40%;
 height: 40%;
}
 }

.infoname span{
 font-family:  "Nunito", sans-serif;
 font-weight: bold;

}

.infoname span b{
  color: #00e4f3;
  font-weight: bold;
  letter-spacing: 0.1;
  
}

/*----------------sevice container------------------*/
.maintitle h2{
  font-family: georgia;
 margin-top: 20px;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
  cursor: pointer;
}

 .service{
  position: static;
  width: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 1%;
}
  
div .appdev{
  width: 308px;
  position: relative;
  height: 370px;
 background: #fafafa;
 align-items: center;
 margin-top: 10px;
  margin: 30px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 10px #03cd40;
  border-radius: 10px;
  transition: 0.3s ease-in;
  margin-top: 5%;
}

div .webdev{
  width: 308px;
  position: relative;
  height: 370px;
  margin-top: 10px;
 background: #fafafa;
  margin: 30px;
  padding: 20px 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 10px #0603cd;
  border-radius: 10px;
  transition: 0.3s ease-in;
  margin-top: 5%;
}

div .grapicdeign{
   width: 308px;
  position: relative;
  height: 370px;
  margin-top: 10px;
 background: #fafafa;
  margin: 30px;
  padding: 20px 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 10px #006cfa;
  border-radius: 10px;
  transition: 0.3s ease-in;
  margin-top: 5%;
}

div .logodeign{
  width: 308px;
  margin-top: 10px;
  position: relative;
  align-items: center;
  height: 370px;
 background: #fafafa;
  margin: 30px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 10px #cd0303;
  border-radius: 10px;
  transition: 0.3s ease-in;
  margin-top: 5%;
}

.servicesec{
align-items: center;
margin-top: 10px;
}

.servicesec img{
  border-radius: 10px;
}

.servicesec .servicetit{
  text-align: center;
 font-family: georgia;
 color: black;
 font-size: 20px;
 cursor: pointer;
 margin-top: 10px;
 margin-bottom: 20px;
 font-weight: bold;
 transition: 0.4s ease-in;
}

.servicetit .introserv{
  justify-items: center;
  align-items: center;
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;

}

.linkalpha{
  text-decoration: none;
}

div .logodeign:hover{
   background-color: #cd0303;
   color: white;
  
}
div .webdev:hover{
  background-color: #0603cd;
 color: white;
}

div .appdev:hover{
  background-color: #03cd40;
  color: white;
}

div .grapicdeign:hover{
   background-color: #006cfa;
   color: white;
  
}

.servicetit:hover{
  color: white;
}
/*----------------sevice container------------------*/

/*----------------team section---------------------*/
.teammainname{
  font-size: 25px;
  color: #012970;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

.contac{
  position: static;
  width: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  
}
.contac .contaccard{
  position: static;
  width: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
flex-wrap: wrap;
  padding: 30px;
  margin-top: 1%;
}

.personcad{
height: 400px;
width: 250px;
background-color: rgb(226, 241, 255);
padding: 10px;
margin: 20px;
border-radius: 20px;
align-items: center;
justify-items: center;
}
.personcad .imgmem{
  border-radius: 10px;
  margin-top: 10px;
  width: 150px;
  height: 150px;
  transition: 0.1s ease-out;
}

.personcad .devname{
  font-size: 20px;
  font-weight: 800;
  color: #012970;
  margin-top: 10px;
  margin-bottom: 5px;
}
.rankper{
  font-style: italic;
  font-size: 15px;
  line-height: 26px;
  color: #5e5e5e;
  margin-bottom: 10px;
}

.rankpara{
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.companyname{
  color: rgba(0, 0, 0, 0.705);
  font-size: 12px;
 font-weight: italic;
}

/*social media st*/
.socialmedia{
margin-top: 20px;
border-radius: 20px;
background-color: rgba(0, 255, 255, 0.233);
margin-left: 10px;
height: 40px;
align-items: center;
justify-items: center;
transition: 4s ease;
margin-right: 10px;
}

.socialmedia img{
  width: 25px;
  margin-top: 10px;
  align-items: center;
  justify-items:baseline;
  margin-right: 10px;
  margin-left: 10px;
  height: 25px;
  transition: 0.1s ease;
}
/*social media st*/

.personcad .imgmem:hover{
  width: 160px;
  height: 160px;
}



/*----------------team section---------------------*/


/*-----------comment box css----------*/
.commentmain{
  padding: 20px;
  margin: 0px;
  background-color: aliceblue;
  align-items: center;
  width: 98%;
}
.commentmain .boxcom{
  background-color: #012970;
  height: 100%;
  padding: 20px;
  align-items: center;
  justify-items: center;
  box-shadow: none;
  width: 100%;
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.boxtitle{
  font-size: 17px;
  color: #94b8f5;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

 #name, #youremail{
  padding: 7px;
  border-radius: 10px;
  border: none;
  color: black;
  margin-bottom: 20px;
  font-size: 16px;
  left: 0;
  font-family: monospace;
  font-weight: normal;
 }
 #commainid{
  padding: 7px;
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 19px;
  margin-bottom: 20px;
  width: 100%;
  font-family: monospace;
  font-weight: normal;
 }
 #submitbtn{
  background-color: #0146bd;
  border: none;
  border-radius: 5px;
  width: 200px;
  font-size: 15px;
  padding: 20px;
  font-weight: bold;
  font-family:  "Nunito", sans-serif;
  transition: 1s ease-in;
 }
 #submitbtn:hover{
  background-color: #006cfa;
  color: white;
 }
.boxcommentmain{
  font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
    margin-left: 10px;
}
 @media(min-width: 800px)
 {
  #name, #youremail{
    font-size: 17px;
    width: 50%;
  }
 }
/*-----------comment box css end=------*/
